/* * //style sheet for Portfolio\\ * */




body {
    background-image: url("/Users/melaniebott/Desktop/BOOTCAMP/Basic-Portfolio/assets/images/background.jpg")
}


body{
    margin: 0%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    padding: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    border: 0;
        border-top-width: 0px;
        border-top-style: initial;
        border-top-color: initial;
        border-right-width: 0px;
        border-right-style: initial;
        border-right-color: initial;
        border-bottom-width: 0px;
        border-bottom-style: initial;
        border-bottom-color: initial;
        border-left-width: 0px;
        border-left-style: initial;
        border-left-color: initial;
        border-image-source: initial;
        border-image-width: 0px;
    font-family: inherit;
        font-size: 100%;
        vertical-align: baseline;
}

.container {
    margin-left: 60px;
    width: 50%;
    margin: 10px 80px 10px 40px;
    padding: 10px 40px 20px 50px;
    font-size: 18px;
}

.bio {
    padding: 30px;
    border: solid #dddddd;
    margin: 55px 265px -55px 250px;
    width: 960px;
    background-color: #ffffff;
    color: #777777;

}
.portfolio {

}
