* //style sheet for HEADERS and FOOTERS\\ *


.container {
    width: 80%;
    margin: 0 auto;
}

head {
    background-color: #ffffff;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
    padding-top: 40px;
}

nav ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;   
}

nav li {
    display: inline-block;
    margin-left: 30px;
    padding-bottom: 0;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
}

nav a:hover {
    color: #4aaaa5; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 2px;
    height: 40px;
    margin-top: 40px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    background-color: #666666;
    background-size: 160px 60px 160px 60px;
    color: #ffffff;
    padding-top: none;
    padding-bottom: none;
    border-top: #4aaaa5 solid 8px;
    font-size: 10px;
 }