* //style sheet for About Me page\\ *

body {
    background-image: url("/Users/melaniebott/Desktop/BOOTCAMP/Basic-Portfolio/assets/images/background.jpg")
}

.container {
    width: 80%;
    margin: 0 auto;
}

head {
    background-color: #ffffff;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
    padding-top: 40px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;   
}

nav li {
    display: inline-block;
    margin-left: 30px;
    padding-bottom: 0;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
}

nav a:hover {
    color: #4aaaa5; 
}

h1 {
    padding: 35px;
    margin: 0;
    float: left top;
    position: fixed;
    font-size: 40px;
    font-weight: bold;
    line-height: 10px;
    text-align: left;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    overflow: hidden;
    padding-top: 40px;
    padding-left: 120px;
    padding-bottom: 10px;
    width: 190px;
    height: 55px;
    margin-top: -30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container h2 {
    width: 50%;
    margin: 150px 80px 100px 40px;
    padding: 0;
    font-size: 35px;

} 
.h2 {
    margin-bottom: -60px;
    margin-left: 0;
    padding: 0;
    font-size: 35px;
}

.container h3 {
    width: 50%;
    margin: 10px 80px 10px 40px;
    padding: 10px 80px 10px 50px;

}

p {   
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
    padding-right: 150px;
    padding-left: 60px;
    padding-top: 15px;

}

img {
    float: left;
    width: 280px;
    height: 310px;
    padding-left: 40px;
    margin: 20px;
}

 